[Unit]
Description=Configuración Proxmox Workstation - Fase 4 (Auto-bspwm)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
User=zenosama
WorkingDirectory=/home/zenosama
Environment="HOME=/home/zenosama"
ExecStart=/opt/pve-setup/setup-pve-workstation-phase4.sh

[Install]
WantedBy=multi-user.target