[Unit]
Description=Configuración Proxmox Workstation - Fase 2 (instalación de paquetes principales)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
ExecStart=/opt/pve-setup/setup-pve-workstation-phase2.sh

[Install]
WantedBy=multi-user.target