[Unit]
Description=Autologin Temporal a TTY1
After=multi-user.target
Wants=multi-user.target

[Service]
Type=oneshot
ExecStart=-/sbin/agetty --autologin zenosama --noclear %I $TERM

[Install]
WantedBy=multi-user.target