[Unit]
Description=Autologin Temporal a TTY1
After=multi-user.target
Wants=multi-user.target

[Service]
ExecStart=
ExecStart=-/sbin/agetty --autologin zenosama --noclear tty1

[Install]
WantedBy=multi-user.target