[Desktop Entry]
Type=Application
Name=Autostart Neofetch/Actualización
Exec=x-terminal-emulator -e /usr/local/bin/system_update.sh
Terminal=false
X-GNOME-Autostart-enabled=true